<div class="col-11">
  <div class="card">
    <div class="card-header h5 bg-primary-subtle">Detalhes</div>
    <div class="card-body">
      <p>Tipo de apresentação: <b>Pôster</b></p>
      <p>Eixo temático: <b>Alimentação e saúde (AS)</b></p>
      <p>Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b></p>

      <div class="py-3">
        <p class="fw-bold">Autores:</p>
        <p>Galileo Galilei<sup>1</sup></p>
        <p>Berta Lange de Morretes<sup>2</sup></p>
        <p>Isaac Newton<sup>3</sup></p>
        <p>Cesar Lattes<sup>1</sup></p>
        <p>Stephen Hawking<sup>4</sup></p>
      </div>

      <small>
        <p><sup>1</sup>Universidade Estadual de Campinas</p>
        <p><sup>2</sup>Universidade de São Paulo</p>
        <p><sup>3</sup>Instituto Nacional de Pesquisas Espaciais</p>
        <p><sup>4</sup>Universidade Federal do Rio de Janeiro</p>
      </small>
    </div>
  </div>
</div>