<header class="header">
    <div class="bg-primary-subtle d-flex flex-nowrap align-items-center px-3 pt-2 gap-3">
      <div class="w-100">
        <p class="m-0">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <h1 class="h5 m-0">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
        <p>ISSN: 1234-5678</p>
      </div>


      <div class="dropdown">
        <button class="btn btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-globe p-2"></i>
          PT-BR
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">PT-BR</button>
          <button class="dropdown-item" type="button">EN</button>
        </div>
      </div>


      <div class="col-auto d-flex justify-content-end align-items-center gap-1">
        <div class="d-flex flex-column align-items-end">
          <p class="m-0">Bem vindo!</p>
          <p>alguem12&#64;galoascience.com</p>
        </div>
        <img class="rounded-circle" src="./assets/usuario.png" width="36px">
      </div>
    </div>
  </header>