<section class="sidebar shadow vh-100" style="width: 250px; height: 100%;">
  <div class="bg-primary">
    <p class="text-white text-center py-3 h3">SLACA 2019</p>
  </div>
  <img src="../assets/scala.png" width="100%">

  <nav class="col-12">
    <ul class="p-0">
      <li class="optionSidebar"><a>Apresentação</a></li>
      <li class="optionSidebar"><a>Comitês</a></li>
      <li class="optionSidebar"><a>Autores</a></li>
      <li class="optionSidebar"><a>Eixos temáticos</a></li>
      <li id="active" class="optionSidebar"><a>Trabalhos</a></li>
      <li class="optionSidebar"><a>Contato</a></li>
    </ul>
  </nav>
</section>